@import "../variables/color";
@import "../variables/size";
@import "../variables/spacing";
@import "../variables/font";
@import "../mixins/intents";

$button-radius: $radius-sm;
$button-sizes: (
  "large": $height-lg,
  "default": $height-base,
  "small": $height-sm,
);
$button-text: $font-size-base;
$button-intents: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "error": $error,
);

.m-btn {
  cursor: pointer;
  display: inline-block;
  padding: 0 1rem;
  background: $primary;
  border-radius: $button-radius;
  border: 1px solid transparent;
  font-size: $button-text;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transform: scale(1);
  white-space: nowrap;
  width: fit-content;
  @each $prefix, $size in $button-sizes {
    &.m-btn--#{$prefix} {
      height: $size;
      line-height: 0;
      font-size: ($size / 28px) * $button-text;
      .m-icon {
        font-size: ($size / 32px) * $button-text;
        line-height: 1;
        padding-right: $padding-xs;
      }
      .m-loader__wrapper {
        padding-left: $padding-xs;
        .m-loader {
          width: ($size / 2);
          height: ($size / 2);
        }
      }
    }
  }
  /* INTENTS */
  @each $prefix, $intent in $button-intents {
    /* VARIANTS */
    &.m-btn--solid {
      &.m-btn--#{$prefix} {
        @include solid($intent);
      }
      & .m-icon {
        color: $gray-000;
      }
    }
    &.m-btn--outline {
      &.m-btn--#{$prefix} {
        @include outline($intent);
      }
      &:hover .m-icon {
        color: $gray-000;
      }
    }
    &.m-btn--ghost {
      &.m-btn--#{$prefix} {
        @include ghost($intent);
      }
    }
    &.m-btn--icon {
      &.m-btn--#{$prefix} {
        @include icon($intent);
        height: auto;
        border-radius: 100%;
        .m-icon {
          padding: 6px;
        }
      }
    }
  }
  &.m-btn--disabled {
    @include disabled;
    & .m-icon {
      color: $gray-80;
    }
  }
}
