@import "../variables/color";
@import "../variables/font";
@import "../variables/timing";
@import "../mixins/form";

.m-checkbox {
  position: relative;
  vertical-align: middle;
  label {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    position: relative;
    top: 0.2rem;
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.3rem;
    border: 1px solid $primary;
    background-color: transparent;
    transition: background-color $time-sm;
    &:hover {
      background-color: $gray-20;
      transition: background-color $time-sm;
    }
  }
  & > span {
    display: inline-block;
    vertical-align: middle;
  }
  input {
    position: absolute;
    display: inline-block;
    opacity: 0;
    &:checked {
      + label {
        background-color: $primary;
        &::after {
          content: "";
          position: absolute;
          width: 0.4825rem;
          height: 0.2625rem;
          background: none;
          border-left: 2px solid $gray-10;
          border-bottom: 2px solid $gray-10;
          transform: rotate(-45deg);
          transform-origin: bottom right;
          margin-top: 0.0475rem;
          margin-left: 0.1875rem;
        }
      }
    }
  }
  &.m-error {
    label {
      border: 1px solid $error;
    }
  }
}

@include fieldStatus;
@include fieldMessage;
@include fieldDisabled;
