@import "../variables/color";
@import "../mixins/intents";

$icon-intents: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "error": $error,
  "info": $info,
);
.m-icon {
  display: inline-block;
  @each $prefix, $intent in $icon-intents {
    &.m-#{$prefix} {
      &:before {
        color: $intent;
      }
    }
  }
}
