@import "../variables/color";
@import "../mixins/intents";

.mrc-icon {
  display: inline-block;
  &.mrc-primary {
    color: $primary;
  }
  &.mrc-secondary {
    color: $secondary;
  }
  &.mrc-success {
    color: $success;
  }
  &.mrc-warning {
    color: $warning;
  }
  &.mrc-error {
    color: $error;
  }
  &.mrc-disabled {
    @include disabled;
  }
}
