@import "../variables/font";
@import "../variables/spacing";
@import "../mixins/loader";

.m-loader__wrapper {
  display: inline-block;
  color: $text-secondary;

  .m-loader {
    margin: 0 auto;
    @include loader;
  }
  .m-loader__tip {
    text-align: center;
    font-family: $font-family;
    margin-top: $margin-sm;
  }
}
