@import "../variables/color";
@import "../variables/spacing";
@import "../variables/font";
@import "../variables/timing";

.m-menu {
  padding: 0;
  margin: 0;
  min-width: 120px;
  border: 1px solid $gray-50;
  list-style: none;
  .m-menu__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 0 $padding-sm;
    color: $secondary;
    border-bottom: 1px solid $gray-50;
    transition: background-color, padding-left $time-sm;
    .m-menu__item__content {
      font-weight: $regular;
      padding-left: 0;
      white-space: nowrap;
      transition: padding-left $time-sm;
    }
    &:last-of-type {
      border-bottom: none;
    }
    &:hover {
      transition: background-color $time-sm;
      background-color: lighten($primary, 85);
    }
    &--active {
      &:hover {
        background-color: lighten($primary, 70);
      }
      .m-menu__item__content {
        font-weight: $bold;
        color: $primary;
        padding-left: $padding-md;
        transition: padding-left $time-sm;
      }
    }
  }
}

.m-menu__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .m-nav {
    display: flex;
    flex-direction: row;
    padding: 0 $padding-xs;
    margin: 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    list-style: none;
    &::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track {
      display: none;
    }
    .m-menu__item {
      cursor: pointer;
      position: relative;
      margin-right: $margin-md;
      color: $secondary;
      .m-menu__item__content {
        font-weight: $regular;
        padding-left: 0;
        white-space: nowrap;
        transition: padding-left $time-sm;
      }
      &--active {
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: $primary;
        }
        &:hover {
          font-weight: $bold;
        }
        div {
          font-weight: $bold;
          color: $primary;
          transition: padding-left $time-sm;
        }
      }
    }
  }
}
