@import "../variables/color";
@import "../variables/spacing";
@import "../variables/font";

.mrc-menu {
  border: 1px solid $gray-50;
  font-family: $font-family;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 120px;
  .mrc-menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $padding-sm;
    height: 32px;
    color: $secondary;
    border-bottom: 1px solid $gray-50;
    transition: background-color, padding-left 400ms;
    div {
      font-weight: $regular;
      padding-left: 0;
      transition: padding-left 400ms;
    }
    &:last-of-type {
      border-bottom: none;
    }
    &:hover {
      transition: background-color 400ms;
      background-color: lighten($primary, 85);
    }
    &__active {
      &:hover {
        background-color: lighten($primary, 70);
      }
      div {
        font-weight: $bold;
        color: $primary;
        padding-left: $padding-md;
        transition: padding-left 400ms;
      }
    }
  }
}

.mrc-menu-container {
  max-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .mrc-nav {
    font-family: $font-family;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    list-style: none;
    padding: 0 $padding-xs;
    margin: 0;
    scrollbar-width: none;
    &::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track {
      display: none;
    }
    .mrc-menu-item {
      cursor: pointer;
      margin-right: $margin-md;
      position: relative;
      color: $secondary;
      &__active {
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: $primary;
        }
        &:hover {
          font-weight: $bold;
        }
        div {
          font-weight: $bold;
          color: $primary;
          transition: padding-left 400ms;
        }
      }
    }
  }
}
