@import "../animations/_modal.scss";
@import "../variables/color";
@import "../variables/spacing";
@import "../variables/font";
.mrc-mask-wrapper {
  z-index: 1001;
  position: fixed;
  background-color: $gray-100;
  opacity: 0.3;
  will-change: opacity;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mrc-modal-wrapper {
  font-family: $font-family;
  position: relative;
  background-color: $gray-000;
  position: fixed;
  z-index: 1002;
  overflow-y: scroll;
  will-change: opacity;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 100vw;
  max-height: 100vh;
  padding: $padding-xs;
  .mrc-modal-close {
    position: absolute;
    top: $padding-xs;
    right: $padding-xs;
  }
}

@include modal-animation;
@include mask-animation;
