@import "../animations/modal.scss";
@import "../mixins/mask";
@import "../variables/color";
@import "../variables/spacing";
@import "../variables/font";

@include modal-animation;
@include mask;

.m-modal__wrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  padding: $padding-xs;
  overflow-y: scroll;
  will-change: opacity;
  background-color: $gray-000;
  z-index: 1002;
  &--center {
    top: 50%;
    left: 50%;
  }
  .m-modal__close {
    position: absolute;
    top: $padding-xs;
    right: $padding-xs;
  }
}
