@import "../variables/color";
@import "../variables/font";
@import "../variables/timing";
@import "../mixins/form";

.m-radio {
  position: relative;
  vertical-align: middle;
  label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    top: 0.15rem;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.6rem;
    border: 1px solid $primary;
    margin-right: 0.2rem;
    background-color: transparent;
    transition: background-color $time-sm;
    &:hover {
      background-color: $gray-20;
      transition: background-color $time-sm;
    }
  }
  & > span {
    display: inline-block;
    vertical-align: middle;
  }
  input {
    position: absolute;
    display: inline-block;
    opacity: 0;
    &:checked {
      + label {
        background-color: $primary;
        &::after {
          content: "";
          position: absolute;
          width: 0.3rem;
          height: 0.3rem;
          border-radius: 0.3rem;
          background-color: $gray-000;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &.m-error {
    label {
      border: 1px solid $error;
    }
  }
}

@include fieldStatus;
@include fieldMessage;
@include fieldDisabled;
