@import "../variables/color";
@import "../variables/spacing";
@import "../variables/font";
@import "../mixins/flex";

.m-result {
  @include flex(column);
  font-weight: $regular;
  & > div {
    margin: $margin-md 0;
  }
  &__description {
    font-size: $text-2-size;
  }
  &__message {
    font-weight: $bold;
    font-size: $text-1-size;
  }
  &__extra {
    width: 100%;
  }
}
