@import "../variables/font";
@import "../variables/color";
@import "../variables/size";
@import "../variables/spacing";
@import "../mixins/form";

$input-sizes: (
  "large": $height-lg,
  "default": $height-base,
  "small": $height-sm,
);
$input-radius: $radius-sm;

.m-input__select {
  min-width: 80px;
  display: block;
  text-align: left;
  position: relative;
  &__wrapper {
    position: relative;
    margin: $margin-xs 0;
    width: 100%;

    @each $prefix, $size in $input-sizes {
      &.m-input--#{$prefix} {
        font-size: ($size / 24px) * $text-2-size;
        height: $size;
        .m-input__search {
          line-height: $size + 1;
        }
        .m-input__placeholder {
          line-height: $size + 1;
        }
        & ~ .m-input___option__cotnainer {
          .m-input__option {
            height: $size;
            font-size: ($size / 24px) * $text-3-size;
            line-height: $size + 1;
          }
        }
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }
    select {
      position: absolute;
      padding: 0 $padding-sm;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      border: 1px solid $gray-50;
      border-radius: $input-radius;
      outline: none;
      &:hover {
        border: 1px solid $secondary;
      }
      &:focus {
        border: 1px solid $primary;
      }
      &:disabled {
        cursor: not-allowed;
        background-color: $surface;
        border: 1px solid $gray-10;
      }
    }

    .m-loader__wrapper {
      position: absolute;
      right: 8px;
      transform: translate(0, -50%);
      top: 50%;
      & + .m-icon--suffix {
        right: 24px;
      }
    }

    .m-input__search {
      position: absolute;
      padding: 0 $padding-sm + 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      outline: none;
      z-index: 3;
    }
    .m-input__placeholder {
      pointer-events: none;
      user-select: none;
      position: absolute;
      padding: 0 $padding-sm + 1;
      top: 0;
      bottom: 0;
      color: $gray-50;
      left: 0;
      right: 0;
      width: 100%;
      outline: none;
      z-index: 3;
    }

    .m-icon {
      display: inline-block;
      position: absolute;
      transform: translate(0, -50%);
      top: 50%;
      z-index: 2;
      &--arrow {
        transition: transform 400ms;
        right: 8px;
      }
      &--prefix {
        left: 8px;
        & ~ .m-input__search {
          padding: 0 $padding-lg + 1;
        }
        & ~ .m-input__placeholder {
          padding: 0 $padding-lg + 1;
        }
      }
      &--suffix {
        right: 24px;
      }
      &--status {
        right: 24px;
        + .m-icon--suffix {
          right: 40px;
        }
      }
      & + select {
        padding: 0 $padding-lg;
      }
    }
    select:focus + .m-icon--arrow {
      transform: translate(0, -50%) rotate(-180deg);
    }
    .m-input__search:focus + .m-icon--arrow {
      transform: translate(0, -50%) rotate(-180deg);
    }
  }
  &.m-search {
    select {
      color: transparent;
    }
  }
  .m-input___option__cotnainer {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    border: 1px solid $gray-50;
    border-radius: $input-radius;
    background-color: $gray-000;
    z-index: 1006;
    .m-input__option {
      cursor: pointer;
      padding: 0 $padding-sm;
      border-bottom: 1px solid $gray-50;
      &:hover {
        background-color: lighten($primary, 80);
      }
      &:last-of-type {
        border-bottom: none;
      }
      &--selected {
        font-weight: $bold;
        background-color: lighten($primary, 70);
      }
    }
  }
}

@include fieldStatus;
@include fieldMessage;
@include fieldDisabled;
@include helper;
@include label;
