@import "../variables/color";
@import "../variables/spacing";
@import "../variables/size";
@import "../variables/font";

$row-sizes: (
  "large": $height-lg,
  "default": $height-base,
  "small": $height-sm,
);

.m-table {
  border-collapse: collapse;
  border-spacing: 0.5rem;
  width: 100%;
  font-size: $text-2-size;
  &--fixed {
    table-layout: fixed;
  }
  @each $prefix, $size in $row-sizes {
    &.m-table--#{$prefix} {
      tr {
        height: $size;
      }
    }
  }
  .m-table__head {
    tr {
      border-bottom: 1px solid $gray-50;
      th {
        text-align: left;
        padding-right: $padding-xs;
      }
    }
  }
  .m-table__body {
    tr {
      cursor: pointer;
      border-bottom: 1px solid $gray-50;

      &:hover {
        background-color: $gray-20;
      }
      td {
        padding-right: $padding-xs;
      }
    }
  }
  .m-table--noData {
    text-align: center;
  }
}
