@import "../variables/font";
@import "../variables/color";
@import "../mixins/typography";

$intents: (
  "primary": $text-primary,
  "secondary": $text-secondary,
  "success": $text-success,
  "warning": $text-warning,
  "error": $text-error,
);

$sizes: (
  "small": $text-2-size,
  "default": $text-1-size,
  "large": $heading-4-size,
);

$weights: (
  "bold": $bold,
  "regular": $regular,
  "light": $light,
);

.m-text {
  font-style: normal;
  font-stretch: normal;

  &.m-ellipsis {
    @include ellipsis;
  }

  &.m-underline {
    text-decoration: underline;
  }

  &.m-stroke {
    text-decoration: line-through;
  }

  @each $prefix, $weight in $weights {
    &.m-#{$prefix} {
      font-weight: $weight;
    }
  }

  @each $prefix, $size in $sizes {
    &.m-text--#{$prefix} {
      font-size: $size;
      line-height: $size * $line-height-base;
    }
  }

  @each $prefix, $intent in $intents {
    &.m-#{$prefix} {
      color: $intent;
    }
  }
}
