@import "../variables/font";
@import "../variables/color";
@import "../mixins/typography";

$intents: (
  "primary": $text-primary,
  "secondary": $text-secondary,
  "success": $text-success,
  "warning": $text-warning,
  "error": $text-error,
);

h1 {
  font-size: $heading-1-size;
}
h2 {
  font-size: $heading-2-size;
}
h3 {
  font-size: $heading-3-size;
}
h4 {
  font-size: $heading-4-size;
}

.m-title {
  font-style: normal;
  font-stretch: normal;

  &.m-ellipsis {
    @include ellipsis;
  }

  &.m-underline {
    text-decoration: underline;
  }

  &.m-stroke {
    text-decoration: line-through;
  }

  @each $prefix, $intent in $intents {
    &.m-#{$prefix} {
      color: $intent;
    }
  }
}
