@import "./variables/font";
@import "./variables/color";

html,
body {
  margin: 0;
  background: #fafafa;
  font-family: $font-family;
  font-weight: $regular;
  font-size: $font-size-base;
  color: $text-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
