@mixin collapse-animation($duration: 600ms) {
  .m-panel__collapse-enter {
    max-height: 0vh;
  }

  .m-panel__collapse-enter-active {
    max-height: 100vh;
    transition: max-height $duration linear;
  }

  .m-panel__collapse-enter-done {
    max-height: 100vh;
  }

  .m-panel__collapse-exit {
    max-height: 100vh;
  }

  .m-panel__collapse-exit-active {
    max-height: 0vh;
    transition: max-height $duration linear;
  }

  .m-panel__collapse-exit-done {
    max-height: 0vh;
  }
}
