@mixin drawer-animation($duration: 600ms) {
  .m-slide--right {
    &.m-drawer-enter {
      top: 0;
      right: 0;
      width: 0;
      height: 100vh;
    }

    &.m-drawer-enter-active {
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      transition: width $duration;
    }

    &.m-drawer-exit {
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
    }

    &.m-drawer-exit-active {
      top: 0;
      right: 0;
      width: 0;
      height: 100vh;
      transition: width $duration;
    }
  }
  .m-slide--left {
    &.m-drawer-enter {
      top: 0;
      left: 0;
      width: 0%;
      height: 100vh;
    }

    &.m-drawer-enter-active {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: width $duration;
    }

    &.m-drawer-exit {
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }

    &.m-drawer-exit-active {
      top: 0;
      left: 0;
      width: 0%;
      height: 100vh;
      transition: width $duration;
    }
  }
  .m-slide--top {
    &.m-drawer-enter {
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
    }

    &.m-drawer-enter-active {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      transition: height $duration;
    }

    &.m-drawer-exit {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
    }

    &.m-drawer-exit-active {
      top: 0;
      left: 0;
      width: 100vw;
      height: 0%;
      transition: height $duration;
    }
  }
  .m-slide--bottom {
    &.m-drawer-enter {
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 0%;
    }

    &.m-drawer-enter-active {
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      transition: height $duration;
    }

    &.m-drawer-exit {
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100%;
    }

    &.m-drawer-exit-active {
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 0%;
      transition: height $duration;
    }
  }
}
