@mixin modal-animation($duration: 400ms) {
  .m-modal-enter {
    opacity: 0;
  }

  .m-modal-enter-active {
    opacity: 1;
    transition: opacity $duration linear;
  }

  .m-modal-exit {
    opacity: 1;
  }

  .m-modal-exit-active {
    opacity: 0;
    transition: opacity $duration linear;
  }
}
