/* HEIGHT */
$height-base: 32px;
$height-lg: 40px;
$height-sm: 24px;
/* RADIUS */
$radius-none: 0px;
$radius-lg: 8px;
$radius-sm: 4px;
$radius-xs: 2px;
/* PADDING */
$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items
$padding-xss: 4px; // more small
/* MARGIN */
$margin-lg: 24px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small
