@import "../variables/color";
@import "../variables/shadow";
@import "../variables/timing";

@mixin hover {
  &:not([disabled]):hover {
    box-shadow: $shadow-md;
    transition: $time-sm;
    @content;
  }
}
@mixin active {
  &:not([disabled]):active {
    @content;
  }
}

@mixin solid($color: $primary) {
  color: $gray-10;
  background-color: $color;
  border: 1px solid $color;
  @include hover {
    background-color: darken($color, 6%);
    border: 1px solid darken($color, 6%);
  }
  @include active {
    background-color: darken($color, 10%);
    border: 1px solid darken($color, 10%);
  }
}

@mixin outline($color: $primary) {
  color: $color;
  background-color: transparent;
  border: 1px solid $color;
  @include hover {
    color: $gray-10;
    background-color: darken($color, 6%);
    border: 1px solid darken($color, 6%);
  }
  @include active {
    color: $gray-10;
    background-color: darken($color, 10%);
    border: 1px solid darken($color, 10%);
  }
}

@mixin ghost($color: $primary) {
  color: $color;
  box-shadow: none !important;
  background-color: transparent;
  @include hover {
    background-color: lighten($surface, 6%);
    border: 1px solid lighten($surface, 6%);
  }
  @include active {
    background-color: lighten($surface, 3%);
    border: 1px solid lighten($surface, 3%);
  }
}

@mixin disabled {
  background-color: $surface !important;
  opacity: 0.4 !important;
  color: $gray-60 !important;
  cursor: not-allowed !important;
  border: 1px solid transparent;
}
