@import "../animations/mask";

@mixin mask {
  .m-mask__wrapper {
    z-index: 1001;
    position: fixed;
    background-color: $gray-100;
    opacity: 0.3;
    will-change: opacity;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @include mask-animation;
}
